/* LOGIN FORM */

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}
p {
    margin: 0;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    background-color: #D0FFCC;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    height: 474px;
    width: 410px;
    border-radius: 25px;
    background-color: #ECFFEB;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

.login-centered , .form-flx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-centered p{
    font-size: 25px;
    font-weight: 600;
}

.login-centered-input {
    width: 250px;
    height: 40px;
}

.login-form-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-flx {
    margin-top: 62px;
}

.form-flx > input {
    height: 47px;
    width: 309px;
    background-color: transparent;
    border: 1px solid #DBA159;
    padding: 15px;
    
}

.form-flx input::placeholder {
    color: #DBA159;
    font-size: 700;
}

.form-flx input:focus {
    outline: none;
}


.form-flx button {
    height: 47px;
    width: 309px;
    background-color: #7BE0AD;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    margin-top: 41px;
}



/* USER HOME */

.user-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form {
    width: 431px;
    height: 100vh;
}

.user-nav-bar {
    display: flex;
    height: 34px;
    margin-top: 13px;
}

.user-nav-bar div, button {
    background-color: #ECFFEB;
}

.user-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 149px;
    margin-right: 7px;
    border-radius: 20px;
}

.user-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    margin-right: 6px;
    border-radius: 20px;
}

.log-out {
    width: 167px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


.user-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 369px;
    background-color: #ECFFEB;
    margin-top: 16px;
    border-radius: 20px;
}

.user-option > button {
    height: 107px;
    width: 395px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.btn-receive {
    background-color: #ADF7B6;
    margin-top: 5px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.btn-update {
    background-color: #A0CED9;
    margin-top: 9px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);

}

.btn-view {
    background-color: #FFEE93;
    margin-top: 9px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);

}

.user-dash {
    height: 242px;
    background-color: #ECFFEB;
    border-radius: 20px;
    margin-top: 16px;
}

.user-dash-flx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-dash-grid {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 194px 194px;
    grid-template-rows: 107px 107px;
    gap: 10px;
}

.user-dash-grid > div {
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}
.user-received {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #7BE0AD;
}

.user-released {
    background-color: #83BCFF;
}

.user-returned {
    background-color: #F25757;
}
