/* LOGIN FORM */

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}
p {
    margin: 0;
}
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

body {
    background-color: #D0FFCC;
    height: 100%;
    padding-bottom: 40px !important;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    height: 474px;
    width: 410px;
    border-radius: 25px;
    background-color: #ECFFEB;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

.login-centered , .form-flx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-centered p{
    font-size: 25px;
    font-weight: 600;
}

.login-centered-input {
    width: 250px;
    height: 40px;
}

.login-form-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-flx {
    margin-top: 62px;
}

.form-flx > input {
    height: 47px;
    width: 309px;
    background-color: transparent;
    border: 1px solid #DBA159;
    padding: 15px;
    
}

.form-flx input::placeholder {
    color: #DBA159;
    font-weight: 700;
}

.form-flx input:focus {
    outline: none;
}


.form-flx button {
    height: 47px;
    width: 309px;
    background-color: #7BE0AD;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    margin-top: 41px;
}

.btn-home {
     height: 35px;
     width: 100px;
     background-color: #A0C4FF;
     color: white;
     padding: 10px 10px;
     font-size: 12px;
     margin: 10px 0;
     border-radius: 12px;
     border: none;
     cursor: pointer;
}

.span-home {
    padding-left: 10px;
}

.span-name {
    color: #8F8DFF;
    font-weight: 900 !important;
}

/* USER HOME */

.user-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form {
    width: 431px;
    height: 100vh;
}

.user-nav-bar {
    display: flex;
    height: 34px;
    margin-top: 13px;
}

.user-nav-bar div, button {
    background-color: #ECFFEB;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.user-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 149px;
    margin-right: 7px;
    border-radius: 20px;
    color: #8F8DFF;
    font-weight: 200;
}

.user-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    margin-right: 6px;
    border-radius: 20px;
    color: #22C55E;
    font-weight: 200;
}

.log-out {
    width: 167px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    height: 100%;
    color: white;
    background-color: rgb(227, 63, 63);
}

.qr-status-container {
    margin-top: 12px;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border-radius: 12px;
    color: #222;
    border: 2px solid rgb(5, 5, 140);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.user-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #ECFFEB;
    margin-top: 16px;
    border-radius: 20px;
    padding: 1em 0;
}

.user-option > a {
    display: flex;
    justify-content: center;  
    align-items: center;       
    height: 107px;
    width: 395px;
    text-align: center;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.btn-receive {
    display: flex;
    justify-content: center;  
    align-items: center;       
    height: 107px;
    width: 395px;
    background-color: #ADF7B6;
    margin-top: 5px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.btn-update {
    display: flex;
    justify-content: center; 
    align-items: center;       
    height: 107px;
    width: 395px;
    background-color: #A0CED9;
    margin-top: 9px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);

}

.btn-view {
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 107px;
    width: 395px;
    background-color: #FFEE93;
    margin-top: 9px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);

}

.user-dash {
    height: auto;
    background-color: #ECFFEB;
    border-radius: 20px;
    margin-top: 16px;
}

.user-dash-flx {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex-direction: column;
}

.user-dash-grid {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 194px 194px;
    grid-template-rows: 107px 107px;
    gap: 10px;
}

.user-dash-grid > div {
    padding-top: 30px;
    color: white;
    border-radius: 8px;

}
.user-received {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #7BE0AD;
}

.user-released {
    background-color: #83BCFF;
}

.user-returned {
    background-color: #F25757;
}

.user-dash-count {
    font-weight: 900;
    font-size: 20px;
}


.todays-docs {
    font-weight: 700;

}

/* user receive */

.option-form {
    width: 431px;
    height: auto;
    background-color: #ECFFEB;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em 3em;
}

.option-form label {
    color: rgb(102, 102, 102);
    font-weight: 600;
}

.receive-input , .update-input {
    height: 47px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #DBA159;
    padding: 5px;
    color: #DBA159;
}



.receive-input,.update-input:focus {
    outline: none;
}

.receive-input,.update-input::placeholder {
    color: #DBA159;
}

.receive-textarea , .update-textare{
    width: 100%; 
    background-color: transparent;
    border: 1px solid #DBA159;
    padding: 5px;
    color: #DBA159;
}

.receive-textarea,.update-textare::placeholder {
    color: #DBA159;
    padding: 5px 0 0 2px;
}

.receive-textarea,.update-textare:focus {
    outline: none;
}

.btn-submit {
    height: 47px;
    width: 100% !important;
    background-color: #7BE0AD;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    margin-top: 35px;
}

.option-receive {
    font-weight: 500;
    color: #2FB823;
    font-size: 14px;
}

.option-text {
    font-weight: 200;
    font-size: 12px;
}

.user-homecount-container > p {
    text-align: center;
}

/* ADMIN SIDE - DASHBOARD */

.admin-body {
    background-color: #EFEFEF;
}

.admin-dash-container {
    padding: 10px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.admin-navbar {
    height: 70px;
    width: 1030px;
    background-color: #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 12px;
    flex-shrink: 0;
}

.admin-card-container {
    display: flex;
    width: 1030px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

.admin-card-container > div {
    width: 201px;
    height: 117px;
    background-color: #fff;
    border-radius: 12px;
}

.admin-middle-container {
    display: grid;
    grid-template-columns: 764px 261px;
    grid-template-rows: 145px 145px;
    gap: 8px;
}

.admin-middle-container > div {
    background-color: #fff;
    border-radius: 12px;
    padding: 10px 20px;
}

.first {
    grid-row-start: 1;
    grid-row-end: 3;
}

.admin-logo a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: #333333;
}

.nav-anchor {
    display: flex;
    gap: 5px;
}

.nav-anchor a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #333333;
    
    padding: 10px 10px;
    transition: all 0.5s ease;
}

.nav-anchor a:hover {
    background-color: #aaaaaa;
    color: white;
    border-radius: 8px;
}

.admin-logout {
    height: 35px;
}

.card-flx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-card-circle {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-count {
    color: white;
}

.card-text {
    margin-top: 5px;
    font-weight: 500;
    color: #808080;
}

.recent-title , .todays-title {
    font-size: 12px;
    color: #808080;
}

.recent-view {
    padding: 2px 10px;
    border: none;
    cursor: pointer;
    font: 12px;
    font-weight: 600;
    color: #808080;
}

.first-table {
    width: 100%;
    margin-top: 10px;
}
thead tr th {
    text-align: center;
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px solid #808080;
    color: #333333;
}
tbody tr td {
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

.recent-log {
    width: 20%;
}

.recent-type {
    width: 30%;
}

.recent-action {
    width: 25%;
}

.recent-performed {
    width: 25%;
}

.todays-text {
    font-size: 14px;
    color: #5f5f5f;
}

.todays-num {
    font-size: 14px;
    color: #5f5f5f;
    font-weight: 800;
}

.active {
    background-color: #aaaaaa;
    color: white !important;
    border-radius: 8px;
}

/* admin docs */


.admin-docs-container , .admin-logs-container , 
.admin-qr-container , .admin-user-container {
    width: 1030px;
    border-radius: 8px;
    height: auto;
    padding: 10px 10px;
    background-color: #fff;
}

.admin-docs-no {
    min-width: 60px;
    max-width: 50px;
}

.admin-docs-type {
    min-width: 90px;
    max-width: 150px;
}

.admin-docs-desc {
    min-width: 140px;
    max-width: 150px;
}

.admin-docs-sts {
    min-width: 90px;
    max-width: 150px;
}

.admin-docs-dep {
    min-width: 100px;
    max-width: 150px;
}

.admin-docs-created {
    min-width: 100px;
    max-width: 100px;
}

.admin-docs-created-at {
    min-width: 80px;
}

.admin-docs-updt {
    min-width: 80px;
}

.admin-docs-released {
    min-width: 100px;
    max-width: 100px;
}

.admin-docs-returned {
    min-width: 120px;
    max-width: 150px;
}

.admin-docs-action {
    min-width: 80px;
    max-width: 80px;
}



.admin-docs-table {
    width: max-content;
    
}

#result {
    max-width: 1010px;
    overflow-x: auto;
}

.tr-hover:hover {
    background-color: rgb(227, 227, 227);
}


#result::-webkit-scrollbar {
    height: 8px;
    width: 8px; 
}

/* Scroll track */
#result::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Scroll thumb */
#result::-webkit-scrollbar-thumb {
    background: #7eff06;
    border-radius: 8px;
}


.status-default {
    padding: 2px 3px;
    background-color: #22C55E;
    color: white;
}

.status-returned {
    background-color: #EF4444;
    color: white;
    padding: 2px 3px;
}

.status-review {
    background-color: #FBBF24;
    color: white;
    padding: 2px 3px;
}

.status-released {
    background-color: #7C3AED;
    color: white;
    padding: 2px 3px;
}


.doc-edit-container {
    background-color: #fff;
    height: auto;
    padding: 20px 30px;
    border-radius: 8px;
    width: auto;
}

.doc-edit-flx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.admin-doc-input{
    width: 300px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.admin-doc-area {
    width: 300px;
}

.admin-doc-submit {
    width: 300px !important;
}

.admin-doc-btn {
    padding: 5px 8px;
    border-radius: 8px;
    background-color: rgb(80, 80, 255);
    color: white;
    text-decoration: none;
}

/* LOG SEARCH */

.admin-logs-table thead tr th {
    width: 20%;
}

.admin-logs-table {
    width: 100%;
}

/* qr search */

.admin-qr-table thead tr th {
    width: 25%;
}
.admin-qr-table {
    width: 100%;
}


/* user table */

.user-table {
    width: 100%;
}

.user-table thead tr th {
    width: 20%;
}


.search-container {
    display: flex;
    justify-content: space-between;
}

.search-container p {
    font-size: 2em;
    color: #5f5f5f;
    font-weight: 700;
    margin-bottom: 10px;
}

.search-container div input , .search-container input{
    height: 35px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 2px;
}
